USE [master]
GO
/****** Wagner Matos  matricula: 16-eiin-1-009 ******/

/****** Francisco Rosario matricula: 16-siin-1-141 ******/

/****** Joel Mateo matricula: 17-miin-1-077 ******/

CREATE DATABASE [Carniceria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Carniceria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Carniceria.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Carniceria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Carniceria_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Carniceria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Carniceria]
GO
/****** Object:  Table [dbo].[Caja_registradora]    Script Date: 9/4/18 7:33:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caja_registradora](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Piso] [int] NULL,
 CONSTRAINT [PK_Caja_registradora] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 9/4/18 7:33:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](15) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/4/18 7:33:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NULL,
	[Presio] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Venta]    Script Date: 9/4/18 7:33:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Empleado] [int] NULL,
	[Producto] [int] NULL,
	[Caja] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Caja_registradora] ON 

INSERT [dbo].[Caja_registradora] ([Codigo], [Piso]) VALUES (1, 1)
INSERT [dbo].[Caja_registradora] ([Codigo], [Piso]) VALUES (2, 2)
INSERT [dbo].[Caja_registradora] ([Codigo], [Piso]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Caja_registradora] OFF
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([Codigo], [Nombre]) VALUES (1, N'Juan')
INSERT [dbo].[Empleados] ([Codigo], [Nombre]) VALUES (2, N'Pedro')
INSERT [dbo].[Empleados] ([Codigo], [Nombre]) VALUES (3, N'Jose')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Codigo], [Nombre], [Presio]) VALUES (1, N'Salami', 100)
INSERT [dbo].[Producto] ([Codigo], [Nombre], [Presio]) VALUES (2, N'Chuleta', 200)
INSERT [dbo].[Producto] ([Codigo], [Nombre], [Presio]) VALUES (3, N'Res', 45)
SET IDENTITY_INSERT [dbo].[Producto] OFF
INSERT [dbo].[Venta] ([Empleado], [Producto], [Caja]) VALUES (1, 2, 4)
INSERT [dbo].[Venta] ([Empleado], [Producto], [Caja]) VALUES (2, 1, 3)
INSERT [dbo].[Venta] ([Empleado], [Producto], [Caja]) VALUES (3, 3, 1)
USE [master]
GO
